@charset "UFT-8";

/*continuar tentando inserir icones sociais*/

body{
    background-color: aqua;
    background-image: url(imagens/blackwallpaper.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.499);
}